doctype html
html(ng-app='jot')
  head
    title Jot
  body(ng-controller='MainCtrl')
    h1 {{welcome}}
    
    script(src='vendor/bower_components/angular/angular.js')
    script(src='scripts/app.js')
